@keyframes bioSlideInLeft {
    from {left: -200px;}
    to {left: 0px;}
}

.bioContainer {
    padding: 5pt;
    margin-left: 30pt;
    margin-right: 30pt;
    position: relative;
    animation: bioSlideInLeft 2s;
    max-width: 30ch;
    word-wrap: break-word;
}

.circleEntry {
    margin: 5px;
    position: relative;
    animation: bioSlideInLeft 0.5s;
}

