.centralContainer {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    position: relative;
    vertical-align: middle;
    top: 25%;
    /* top: 250px; */
    /* text-align: center; */
}

.centralContainer img {
    margin-left: auto;
    margin-right: auto;
    width: min(500px, 80vw);
}

.centralContainer .text * {
    text-align: center;
    color: #454343;
    width: 100%;
}

.centralContainer .searchArea {
    margin-left: auto;
    margin-right: auto;
}