.resultsContainer {
    margin-top: 80px;
}
.searchDescription {
    position: relative;
    width: 80%;
    height: 150px;
    margin-left: 10%;
    margin-right: 10%;
    /* margin-top: 100px; */
}

.searchDescription .filterContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.searchDescription .filterContainer .filterForm {
    display: flex;
    flex-direction: row;
}

.searchDescription .filterContainer .filterForm form input {
    margin-right: 10px;
    height: 24px;
    width: min(300px, 50vw);
}

.searchDescription .filterContainer .filterForm form button {
    padding: 5px;
}

.searchResult {
    box-shadow: 0 0 5px 5px #dddddd;
    margin: 10px;
    height: max(10vh, 150px);
}

.searchResult .searchImage {
    float: right;
    height: 85%;
    /* background-color: rgb(92, 92, 92); */
    width: 10vw;
    margin: 10px;
}

.searchResult h3, p {
    padding: 5px;
}

.searchResult .searchImage img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.searchResult a {
    text-decoration: none;
}

.searchResult a:hover {
    color:darkgrey;
}

.searchResult a:focus, a:visited, a:active {
    color: black;
    text-decoration: none;
}


@media only screen and (max-width: 800px) {
    .searchResult {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .searchResult .searchImage {
        height: 150px;
        width: auto;
    }

}
