.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row form {
    margin: 5px;
}

.row form input {
    height: 24px;
    width: min(300px, 50vw);
}

.row button {
    padding: 5px;
    margin: 5px;
}